body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#f3e8ff,#e0f2fe);
}

h1 {
    font-style: normal;
    text-align: center;
}
p {
    font-size: large;
    font-style: oblique;
    align-items: center;
}
.main-container {
    width: 400;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: gap;
    margin-bottom: 15px;
    align-items: center;
    gap: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input {
    margin-left: 30px;
}